<div class="outerContainer">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">


    <div fxFlex.lt-md="100" fxFlex.lt-sm="100" fxFlex.lt-xs="100"  fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-md="row" fxLayout.md="column" fxLayout.gt-sm="row" fxLayout.sm="column">
      
          <span class="p-card-apresentation-sobre ">Sobre</span>
          <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-md="row" fxLayout.md="column" fxLayout.gt-sm="row" fxLayout.sm="column"style="padding: 20px;">
            <img class="avatar mat-elevation-z8"
              src="https://avatars.githubusercontent.com/u/28902884?s=400&u=a654c78300a2691b261ee0dbb20b16fef70f9353&v=4" />
          </div>


          <div class="name" fxFlex.lt-md="100" fxFlex.lt-sm="100" >
            Sou Diego Mendes desenvolvedor web full stack a cerca de 4 anos aproximadamente, um cara entusiasmado e apaixonado por
            tecnologia, apaixonado por desenvolvimento web, sempre buscando melhorar as stacks em que trabalho e me aprofundando
            cada vez mais, minhas Experiências são com as tecnologias: PHP/ Laravel Framework para desenvolvimento backend é o que
            mais tenho xp hahaha, tive contato com spring boot (framework Java), com Node Js utilizando ExpressJs, Adonis Js, essas
            são algumas tecs voltadas para desenvolvimento backend, agora vamos para a parte bonita onde usuário visualiza as ações
            o Frontend, Bom tenho experiencias com as tecnologias Angular 7++(angular Material.io), Vue Js(vuetify), Bootstrap 4,
            css, Sass, html, javascript, javascript ES6+, essas são as que eu mais tive contato e trabalho atualmente e estudo
            frequentemente, claro tem as que a gente estuda nas horas vagas que todo programador gosta de estar sempre testando
            tecnologias novas que estão surgindo no mercado essas são: ReactJs, React Native, Redux, Redux-Saga, Firebase,
            Firestore. Na parte de DEVOPS a gente ainda está caminhando pois não dá para abraçar o mundo afinal, mas fazemos também
            o que precisamos, integração continua com Github actions, deploy automático com Heroku(acho bem incrível),
            docker(melhorando e estudando sobre). Agora vamos para a parte onde guardamos nossas informações, os bancos de dados. Um
            pouco de PostgreSQL, Mysql, MongoDB, vivência com bancos relacionais e estudos com os não relacionais, um breve resumo
            do que é ser um programador full stack, parece muita coisa né, mas na vida como programador full stack você aprende de
            tudo um pouco e tenta se especializar e ser efetivo em cada função, seja backend ou frontend ou ambos ao mesmo tempo.

          </div>

    </div>

  </div>
</div>