.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: auto;
  font-weight: normal;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  color: rgb(122, 119, 119);
  
}
@media (max-width: 600px)
{
  .name{
    margin-top: 400px;
  }
}
.p-card-apresentation-sobre{
   margin-top: 1px;
  font-weight: normal;
  font-size: 25px;
  
  align-items: center;
  font-weight: 400;
  font-family: "roboto";
  color: rgb(122, 119, 119);
  padding: 9px;
}
