<div class="outerContainer">
  <div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
      fxLayoutAligmnet="space-between center" fxLayoutGap="20px">

      <div fxFlex.lt-md="100">
        <mat-card class="card card-box">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <span class="p-card-apresentation-sobre ">Sobre</span>
            <img class="avatar mat-elevation-z8"
              src="https://avatars.githubusercontent.com/u/28902884?s=400&u=a654c78300a2691b261ee0dbb20b16fef70f9353&v=4" />

            <span class="name" fxLayout.gt-xs="row" fxLayout.xs="column">
              Sou Diego Mendes desenvolvedor web fullstack a cerca de 4 anos aproximadamente, um cara entusiasmado e
              apaixonado por tecnologia,
              apaixonado por desenvolvimento web, sempre buscando melhorar as stacks em que trabalho e me aprofundando
              cada vez mais, minhas Experiencias são com as tecnologias:
              <br>
              PHP/ Laravel Framework para desenvolvimento backend é o que mais tenho xp hahaha, tive contato com
              springboog (framework Java), com Nodejs utilizando ExpressJs, AdonisJs, essas são algumas tecs voltadas
              para desenvolvimento backend,
              agora vamos para a parte bonita onde usuario visualiza as ações o Frontend, Bom tenho experiencias
              com as tecnologias Angular 7++(angular Material.io), Vuejs(vuetify), Bootstrap 4, css, Sass, html,
              javascript, javascript ES6+, essas são as que eu mais tive contato e trabalho atualmente e estudo
              frequentemente, claro tem as que a gente estuda nas horas vagas que
              todo programador gosta de estar sempre testando tecnologias novas que estão surgindo no mercado essas são:
              ReactJs, React Native, Redux, Redux-Saga, Firebase, Firestore.

              <br />

              Na parte de DEVOPS a gente ai está caminhando pois não da para abraçar o mundo afinal, mas fazemos também
              o que precisamos, integração continua com Gihub actions, deploy automatico com Heroku(acho bem incrivel
              ahaha), docker(melhorando e estudando sobre).
              <br />
              Agora vamos onde guardamos nossas infomações os bancos de dados.

              <br />
              Um pouco de PostgreSQL, Mysql, MongoDB, nessa parte sabemos fazer alguns joins hahhahha, um breve resumo
              do que é ser um programador fullstack, parece muita coisa ne, mas
              na vida como programador voce aprende de tudo um pouco e tenta se especializar e ser efectivo em cada
              função exercer, seja backend ou frontend ou ambos ao mesmo tempo.
            </span>
            
          </mat-card-title>
        </mat-card>
      </div>


    </div>

  </div>
</div>