
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>

      <a mat-list-item routerLink="/">
        <i class="las la-home" style="font-size:29px"></i>
        <span class="label">Home</span>
      </a>
      <a mat-list-item routerLink="/dashboard">
        <i class="las la-shapes" style="font-size:29px" matTooltip="Dashboard"></i>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/login">
        <i class="las la-sign-out-alt" style="font-size:29px"></i>
        <span class="label">Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <i class="las la-bars" style="font-size:29px"></i>
        </button>
      </div>

      <mat-toolbar-row  class="navigation-items">
        <button mat-icon-button (click)="sidenav.toggle()">
          <i class="las la-bars" style="font-size:29px"></i>
        </button>
        <span class="menu-spacer"></span>
        <div>
          <h1>
            TechCahs Mendes
          </h1>

        </div>
        <div>
          <a mat-button [routerLink]="''"> Dashboard </a>
          <a mat-button [routerLink]="'/dashboard'"> Cadastros </a>
          <a mat-button [routerLink]="'/activities'"> Atividades </a>
          <a mat-button [routerLink]="'/create-activity'"> Criar atividades </a>
          <a mat-button [routerLink]="'/create-account'"> Criar conta </a>
          <a mat-button [routerLink]="'/account'"> Conta </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>