<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <i class="las la-bars" *ngIf="!sidenav.opened" style="font-size:29px"></i>
    <i class="las la-times" *ngIf="sidenav.opened" style="font-size:29px"></i>
  </button>
  Scripta tecnologia
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="https://avatars.githubusercontent.com/u/28902884?s=400&u=a654c78300a2691b261ee0dbb20b16fef70f9353&v=4" />

    <h4 class="name">Diego Mendes</h4>
    <p class="designation">Desenvolvedor Full stack</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="''">
      <i class="las la-home" style="font-size:29px"></i>
      <span>Home</span>
    </button>
    <a mat-button class="menu-button" [routerLink]="'/dashboard'">
      <i class="las la-user-alt" style="font-size:29px"></i>
      <span>Profile</span>
    </a>
    <button mat-button class="menu-button" [routerLink]="'/about'">
    <i class="las la-question" style="font-size:29px"></i>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="'help'">
      <i class="las la-info-circle"style="font-size:29px" ></i>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>