<div class="outerContainer">
  <div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <span class="p-card-apresentation-contacts ">Informações para contato abaixo.</span>
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
      fxLayoutAligmnet="space-between center" fxLayoutGap="20px">

      <div fxFlex.lt-md="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://github.com/gddiego" target="_blank">
              <i class="lab la-github-alt icons" style="font-size:29px; color:#111311;"></i> <span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Github</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100" fxFlex.lt-sm="100" fxFlex.lt-xs="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://www.linkedin.com/in/diego-mendes95/" target="_blank">
              <i class="lab la-linkedin-in icons" style="font-size:29px; color:#2276D6;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Linkdin</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://api.whatsapp.com/send?phone=5565999692832&text=Ol%C3%A1%20Diego%20tudo%20bem%3F"
              target="_blank">
              <i class="lab la-whatsapp icons" style="font-size:29px; color:#0ca940;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Whatsapp</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35">
      <mat-card class="card card-box mat-elevation-z8">
        <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
          fxLayout.gt-md="row" fxLayout.md="column">
          <span class="apresentation-stacks  ">Stacks frontend que ja trabalhei.</span>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip><i class="lab la-vuejs" style="font-size:29px; color:#0C88C2C2;"></i><span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Vuetify
              </span></mat-chip>
            <mat-chip><i class="lab la-angular" style="font-size:29px; color:#F8491D;"></i><span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Angular
                7++
              </span></mat-chip>
            <mat-chip><i class="lab la-vuejs" style="font-size:29px; color:#457034;"></i><span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Vue Js
              </span></mat-chip>
            <mat-chip><i class="lab la-bootstrap" style="font-size:29px; color:#0C88C2C2;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Vuetify
              </span>
            </mat-chip>
          </mat-chip-list>


        </mat-card-title>
      </mat-card>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35">
      <mat-card class="card card-box mat-elevation-z8">
        <mat-card-title class="card-title-line"fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
          fxLayout.gt-md="row" fxLayout.md="column">
          <span class="apresentation-stacks ">Stacks Backend que ja trabalhei.</span>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip><i class="lab la-php" style="font-size:29px; color:#074EA0;"></i><span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">PHP
              </span></mat-chip>
            <mat-chip><i class="lab la-laravel" style="font-size:29px; color:#E6602B;"></i><span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Laravel
              </span></mat-chip>
            <mat-chip><i class="lab la-node-js" style="font-size:29px; color:#6CA776;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Nodejs (obs projetos para estudos)
              </span>
            </mat-chip>
          </mat-chip-list>
        </mat-card-title>
      </mat-card>
    </div>

  </div>

</div>