<div fxLayout="column" fxLayoutGap="10px" class="container">
 
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
      class="grid-item card-title-line card card-box mat-elevation-z8">


      <span class="apresentation-stacks ">Stacks Backend que ja trabalhei.</span>

      <i class="lab la-php" style="font-size:29px; color:#074EA0;"></i><span class="describe-app"
        fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">PHP
      </span>
      <i class="lab la-laravel" style="font-size:29px; color:#E6602B;"></i><span class="describe-app"
        fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Laravel
      </span>
      <i class="lab la-node-js" style="font-size:29px; color:#6CA776;"></i>
      <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Nodejs (estudos)
      </span>


    </div>
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center" fxFlexFill
      class="grid-item card card-box mat-elevation-z8">
      
      <span class="apresentation-stacks  " fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center" fxLayoutAlign="center center">Stacks frontend que ja trabalhei.</span>

      <i class="lab la-vuejs" style="font-size:29px; color:#0C88C2C2;" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center"></i><span class="describe-app"fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center">Vuetify
      </span>
      <i class="lab la-angular" style="font-size:29px; color:#F8491D;" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center"></i><span class="describe-app"fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center">Angular
        7++
      </span>
      <i class="lab la-vuejs" style="font-size:29px; color:#457034;" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center"></i><span class="describe-app" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center">Vue Js
      </span>
      <i class="lab la-bootstrap" style="font-size:29px; color:#0C88C2C2;" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center"></i>
      <span class="describe-app" fxFlex.gt-sm="30%" fxFlex.lt-md="50%"  fxFlex.gt-md="60%"  fxFlex.lt-sm="40%"  fxFlex.gt-xs="10%"   fxFlex.lt-xs="10%"  fxLayoutAlign="center center">Bootstrap
      </span>

    </div>
  </div>
  <div fxLayout="row" fxFlex="33%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item card-title-line card card-box mat-elevation-z8">
  
      <span class="apresentation-stacks ">Alguns estudos extras</span>
  
  
      <i class="lab la-react" style="font-size:29px; color:#2CC8BB;"></i><span class="describe-app"
        fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center"
        fxLayoutGap="20px">ReactJS
      </span>
      <i class="lab la-docker" style="font-size:29px; color:#322A9B;"></i>
      <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Docker
      </span>
  
  
      <i class="lab la-google-play" style="font-size:29px; color:#3053B1;"></i>
      <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Flutter
      </span>
  
  
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxFlex="33%" class="block-3">
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <img class="avatar mat-elevation-z8" src="https://avatars.githubusercontent.com/u/28902884?v=4" />
      <a href="https://github.com/gddiego" target="_blank">
        <i class="lab la-github-alt" style="font-size:29px; color:#EEF2F6;"></i>
        <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
          fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Github</span>
      </a>
    </div>
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">


      <a href="https://api.whatsapp.com/send?phone=556599692832&text=Ol%C3%A1%20Diego%20tudo%20bem%3F" target="_blank">
        <i class="lab la-whatsapp " style="color:#209E10;" font-size="25px;     margin-left: 49px;"></i> <span
          class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
          fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Whatsapp</span>
      </a>


    </div>
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <img class="avatar mat-elevation-z8"
        src="https://media-exp1.licdn.com/dms/image/C4D03AQE-Boq-yP7SDA/profile-displayphoto-shrink_200_200/0/1615765896883?e=1648080000&v=beta&t=JZgPLZVBcjDtGByZa2Zc5_jpN5Cz7VFmGYjkwpGxT_0" />
      <a href="https://www.linkedin.com/in/diego-mendes95/" target="_blank">
        <i class="lab la-linkedin-in icons" style="font-size:29px; color:#2276D6;"></i>
        <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
          fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Linkdin</span>
      </a>

    </div>
  </div>
</div>