<!-- <div class="outerContainer">
  <div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="50px">
    <span class="p-card-apresentation-contacts ">Informações para contato abaixo.</span>
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
      fxLayoutAligmnet="space-between center" fxLayoutGap="20px">

      <div fxFlex.lt-md="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://github.com/gddiego" target="_blank">
              <i class="lab la-github-alt icons" style="font-size:29px; color:#111311;"></i> <span class="describe-app"
                fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Github</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100" fxFlex.lt-sm="100" fxFlex.lt-xs="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://www.linkedin.com/in/diego-mendes95/" target="_blank">
              <i class="lab la-linkedin-in icons" style="font-size:29px; color:#2276D6;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Linkdin</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100" fxFlex="35">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title class="card-title-line" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayout.sm="column"
            fxLayout.gt-md="row" fxLayout.md="column">
            <a href="https://api.whatsapp.com/send?phone=5565999692832&text=Ol%C3%A1%20Diego%20tudo%20bem%3F"
              target="_blank">
              <i class="lab la-whatsapp icons" style="font-size:29px; color:#0ca940;"></i>
              <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between center" fxLayoutGap="20px">Whatsapp</span>
            </a>
          </mat-card-title>
        </mat-card>
      </div>
    </div>
 
  </div>
  
<div  class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    

</div>
</div> -->

<div fxLayout="column"   fxLayoutGap="10px" class="container">
  <!-- Header -->
  <!-- <div fxLayout="row" fxFlex="60px" fxLayoutAlign="center center" class="grid-item">
    <span class="p-card-apresentation-contacts ">Informações para contato abaixo.</span>
  </div> -->
  <!-- Main -->
  <div fxLayout="row wrap"  fxLayoutGap="10px" style="height: 400px;" >
    <div fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="30"
      fxLayoutAlign="center center">
      <mat-card class="card card-box mat-elevation-z8">
        <mat-card-title class="card-title-line" fxLayout="row" fxFlex="250px">
          <img class="avatar mat-elevation-z8"
            src="https://avatars.githubusercontent.com/u/28902884?s=400&u=a654c78300a2691b261ee0dbb20b16fef70f9353&v=4" />
          <a href="https://github.com/gddiego" target="_blank">
            <i class="lab la-github-alt icons" style="font-size:29px; color:#EEEEEE;"></i> <span class="describe-app"
              fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
              fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Github</span>
          </a>
        </mat-card-title>
      </mat-card>
    </div>
    <div fxFlexOrder="1" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="30"
      fxLayoutAlign="center center">
      <mat-card class="card card-box mat-elevation-z8" >
        <mat-card-title class="card-title-line" fxLayout="row" fxLayout="row" fxFlex="250px">
          <img class="avatar mat-elevation-z8"
            src="https://media-exp1.licdn.com/dms/image/C4D03AQE-Boq-yP7SDA/profile-displayphoto-shrink_200_200/0/1615765896883?e=1648080000&v=beta&t=JZgPLZVBcjDtGByZa2Zc5_jpN5Cz7VFmGYjkwpGxT_0" />
          <a href="https://www.linkedin.com/in/diego-mendes95/" target="_blank">
            <i class="lab la-linkedin-in icons" style="font-size:29px; color:#2276D6;"></i>
            <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
              fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Linkdin</span>
          </a>
        </mat-card-title>
      </mat-card>
    </div>
    <div fxFlexOrder="1" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="30"
      fxLayoutAlign="center center">
      <mat-card class="card card-box mat-elevation-z8" >
        <mat-card-title class="card-title-line" fxLayout="row" fxFlex="250px">
          <a href="https://api.whatsapp.com/send?phone=5565999692832&text=Ol%C3%A1%20Diego%20tudo%20bem%3F" target="_blank">
            <i class="lab la-whatsapp icons" style="font-size:29px; color:#0ca940;"></i>
            <span class="describe-app" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
              fxLayoutAligmnet="space-between center" fxLayoutGap="20px" style="color:#EEEEEE;">Whatsapp</span>
          </a>
        </mat-card-title>
      </mat-card>
    </div>
  <div fxFlexOrder="1"    fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="100"   fxLayoutAlign="center center">
  <div class="" fxLayout="row" fxLayoutAlign="center center">
    conteudo explicativo
  </div>
  </div>
  </div>
</div>