<!-- <div class="outerContainer">
  <div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
      fxLayoutAligmnet="space-between center" fxLayoutGap="20px">

      <div fxFlex.lt-md="100">
        <mat-card class="card card-box mat-elevation-z8">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <img class="avatar mat-elevation-z8"
              src="https://avatars.githubusercontent.com/u/28902884?s=400&u=a654c78300a2691b261ee0dbb20b16fef70f9353&v=4" />

            <h4 class="name" fxLayout.gt-xs="row" fxLayout.xs="column"><i class="las la-user-alt"
                style="font-size:29px"></i>Diego Mendes</h4>
            <span class="designation" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayout.gt-sm="row"
              fxLayout.sm="column" fxLayout.gt-md="row" fxLayout.md="column"><i class="las la-code"
                style="font-size:29px"></i>Web developer
            </span>
          </mat-card-title>
        </mat-card>
      </div>


    </div>

  </div>
</div> -->



<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxLayout="row" fxFlex="33%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">

        <div fxLayout="50">
          hello
        </div>
      </div>
    
  </div>
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">B</div>
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">C</div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxFlex="33%" class="block-3">
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">D</div>
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">E</div>
  </div>
</div>